<ion-header>
  <ion-toolbar color="success">
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/logo1.jpg">test1</ion-img>
    <ion-menu-toggle>
      <ion-button color="success">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  <h4 class="ion-text-center">Perfil</h4>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <p class="ion-text-center">usuario1</p>

</ion-content>
