<p style="background-color: coral; padding: 50px;">agua works test!</p>
<div style="width: 200px; height: 200px;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThWcFwBHC4pyJH-WpbKms3XBy-iLBy-9AAIUdgJjCRjQ&s"
        alt="">
</div>

<!-- <ion-content color="primary">
    <form #form="ngForm" formControlName="form" (ngSubmit)="register(form)">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>Create your account!</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="your@email.com" ngModel
                                required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" ngModel
                                required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="confirm" type="password" placeholder="Password again" ngModel
                                required></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <button ion-button size="large" type="submit" 
                            expand="block">Register</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content> -->