<ion-header>
  <ion-toolbar color="success">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-img src="../assets/logo1.jpg">test1</ion-img>


  <h3 class="ion-text-center">¡Es hora de la agricultura!</h3>
  <p class="ion-text-center">¿Que te gustaria hacer?</p>
  <ion-button routerLink="/agua" type="submit" color="success" expand="block">Ver Humedad</ion-button>
  <ion-button routerLink="/riego" type="submit" color="success" expand="block">A Regar</ion-button>
  <ion-button routerLink="/configecowater" type="submit" color="success" expand="block">Configuración</ion-button>
  <ion-img src="../assets/consejo1.png">test2</ion-img>
</ion-content>

