// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #374e76;
  --ion-color-primary-rgb: 55, 78, 118;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #304568;
  --ion-color-primary-tint: #4b6084;

  --ion-color-secondary: #444ca2;
  --ion-color-secondary-rgb: 68, 76, 162;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3c438f;
  --ion-color-secondary-tint: #575eab;

  --ion-color-tertiary: #3845dc;
  --ion-color-tertiary-rgb: 56, 69, 220;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #313dc2;
  --ion-color-tertiary-tint: #4c58e0;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #e9eaed;
  --ion-color-light-rgb: 233, 234, 237;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #cdced1;
  --ion-color-light-tint: #ebecef;
}
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */


  body {
    --ion-color-primary: #2433b9;
    --ion-color-primary-rgb: 39, 102, 211;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #173f85;
    --ion-color-primary-tint: #1f3b6b;

    --ion-color-secondary: #2934b1;
    --ion-color-secondary-rgb: 44, 57, 195;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #232d97;
    --ion-color-secondary-tint: #3b44aa;

    --ion-color-tertiary: #1f2bb3;
    --ion-color-tertiary-rgb: 35, 49, 199;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #1f2baf;
    --ion-color-tertiary-tint: #343eb4;

    --ion-color-success: #1d9f51;
    --ion-color-success-rgb: 29, 159, 81;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #1a8c47;
    --ion-color-success-tint: #34a962;

    --ion-color-warning: #a9ff0a;
    --ion-color-warning-rgb: 169, 255, 10;
    --ion-color-warning-contrast: #2e2e2e;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #95e009;
    --ion-color-warning-tint: #b2ff23;

    --ion-color-danger: #eb4286;
    --ion-color-danger-rgb: 235, 66, 134;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3a76;
    --ion-color-danger-tint: #ed5592;

    --ion-color-medium: #566cc2;
    --ion-color-medium-rgb: 52, 73, 157;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #5369be;
    --ion-color-medium-tint: #6678be;

    --ion-color-light: #d4d7e2;
    --ion-color-light-rgb: 189, 205, 255;
    --ion-color-light-contrast: #8b7e7e;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #505872;
    --ion-color-light-tint: #3e4664;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #282e4d;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: rgb(35, 38, 54);
    --ion-color-step-100: rgb(47, 48, 71);
    --ion-color-step-150: rgb(59, 60, 88);
    --ion-color-step-200: rgb(60, 61, 90);
    --ion-color-step-250: rgb(72, 74, 109);
    --ion-color-step-300: rgb(78, 80, 117);
    --ion-color-step-350: rgb(97, 99, 145);
    --ion-color-step-400: rgb(94, 96, 143);
    --ion-color-step-450: rgb(112, 114, 168);
    --ion-color-step-500: rgb(119, 121, 177);
    --ion-color-step-550: rgb(114, 115, 170);
    --ion-color-step-600: rgb(130, 132, 192);
    --ion-color-step-650: rgb(154, 157, 228);
    --ion-color-step-700: rgb(156, 159, 238);
    --ion-color-step-750: rgb(161, 164, 240);
    --ion-color-step-800: rgb(173, 175, 255);
    --ion-color-step-850: rgb(202, 203, 255);
    --ion-color-step-900: rgb(226, 227, 255);
    --ion-color-step-950: rgb(231, 232, 245);

    --ion-item-background: rgb(43, 45, 70);

    --ion-card-background: rgb(27, 28, 46);
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: rgb(163, 169, 241);
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #070707;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-color-base: var(--ion-color-step-800);
    --ion-color-base-rgb: var(--ion-color-step-800);

    --ion-item-background: #353644;

    --ion-toolbar-background: #2d3047;

    --ion-tab-bar-background: #353644;

    --ion-card-background: #28293a;
  }
}
