<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title color="success" size="large">Es hora de regar.</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content padding class="background" [fullscreen]="true">
  <ion-img src="../assets/logo1.jpg">test1</ion-img>
  <div id="container">
    <ion-button color="success" routerLink="/ecoinicio">
      <ion-icon  slot="icon-only" name="home"></ion-icon>
    </ion-button>

    <ion-item>
      <ion-label>Tiempo de riego:</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="fixed">Fecha riego</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Hora de riego</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    <!------>
    <ion-item>
      <ion-label>Planta</ion-label>
      
      <ion-select placeholder="Make a Selection">
        <ion-select-option value="">Perejil</ion-select-option>
        <ion-select-option value="nes">Hierbabuena</ion-select-option>
        <ion-select-option value="n64">Lavanda</ion-select-option>
        <ion-select-option value="ps">Manzanilla</ion-select-option>
        <ion-select-option value="genesis">Albahaca</ion-select-option>
        <ion-select-option value="saturn">Menta</ion-select-option>
        <ion-select-option value="snes">Palo de agua</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Regar</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>    
    
  </div>
  <app-pag-eco></app-pag-eco>
</ion-content>