<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title color="success" size="large">Es hora de regar.</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content padding class="background" [fullscreen]="true">
  <ion-img src="../assets/logo1.jpg">test1</ion-img>
  <div id="container">
    <ion-menu-toggle>
      <ion-button color="success">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-button color="success" (click)="addPlant()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
    <ion-card *ngFor="let plant of plants | async">
      <img alt="Silhouette of mountains" src="../assets/plantPhoto.png" />
      <ion-card-header>
        <ion-card-title>{{plant.name}}</ion-card-title>
        <ion-card-subtitle>planta</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button color="success" size="small" color="danger" (click)="deletePlant(plant)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button color="success" size="small" color="success" (click)="editPlant(plant)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <app-pag-eco></app-pag-eco>
</ion-content>
