<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reiniciar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Porfavor provee el correo electronico utilizado en tu cuenta EcoWater.
    </small>
  </form>
</ion-content>
